VITE_SUPABASE_URL=https://bzwzaggjidbhunahfsul.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6d3phZ2dqaWRiaHVuYWhmc3VsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyOTMwODEsImV4cCI6MjA5NTg2OTA4MX0.wQxumg32Ig6hzB_QP0kOjCei3FELHzDvxlP6gl8wKsQ
