VITE_SUPABASE_URL=https://wnjfwduxpidrzluflvkd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InduamZ3ZHV4cGlkcnpsdWZsdmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3NzM0NzEsImV4cCI6MjA5NTM0OTQ3MX0.2ZXM7YLK8SFrljzQReE8jIbyFvys-_MVQwrmtY97poM
